name: test
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  lint:
    runs-on: ubuntu-latest
    name: linting
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: shellcheck
        run: shellcheck builder.sh
  testnix:
    runs-on: ubuntu-latest
    name: test nix builds
    strategy:
      matrix:
        example: ["x86_64", "rpi4", "glinet-gl-ar750", "glinet-gl-mt300n-v2", "nexx-wt3020", "rpi2", "wrt1043nd"]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: test build example
        run: |
          sh <(curl -L https://nixos.org/nix/install) --no-daemon
          . $HOME/.nix-profile/etc/profile.d/nix.sh
          mkdir -p output
          time ./builder.sh build example-${{ matrix.example }}.conf --nix
      - name: check artefacts
        run: |
          ./.test/run_all.sh example-${{ matrix.example }}.conf output/
  testcontainer:
    runs-on: ubuntu-latest
    name: test container builds
    strategy:
      matrix:
        example: ["x86_64", "rpi4", "glinet-gl-ar750", "glinet-gl-mt300n-v2", "nexx-wt3020", "rpi2", "wrt1043nd"]
        option: ["--docker", "--podman"]
        sudo: ["", "--sudo"]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: test build example
        run: |
          if [ "${{ matrix.option }}" == "--podman" ]; then
            sudo apt-get -y update
            sudo apt-get -y install podman
          fi
          mkdir -p output
          time ./builder.sh build-docker-image \
                  example-${{ matrix.example }}.conf ${{ matrix.option }}  ${{ matrix.sudo }} &&\
          time ./builder.sh build \
                  example-${{ matrix.example }}.conf ${{ matrix.option }} ${{ matrix.sudo }}
      - name: check artefacts
        run: |
          ./.test/run_all.sh example-${{ matrix.example }}.conf output/
